<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tofaanga</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css')}} ">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css')}} ">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</head>
<body>
 <ul class="navigation">
        <li style="float:right; border-left: 1px solid white;"><a href="/signup">Sign up</a></li>
         <li><a href="#"><strong>TOFAANGA</strong></a></li>
    </ul>
<div class="signupbackground">
    <div class="overlay">
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
        <div class="signinbox">
            <div class="title"><strong>Sign in</strong></div>
            <form action="{{url_for('login')}}" method=post>
                <input type="email" name="email" placeholder="Email" required><br>
                <input type="password" name="password" placeholder="Password" required><br>
                <input type="submit" value="Sign in">
            </form>
        </div>
    </div>
</div>